[data-md-color-scheme="fries-docs"] {
  --md-primary-fg-color:        #238799;
  --md-primary-fg-color--light: #51c8d8;
  --md-primary-fg-color--dark:  #045963;
  --md-accent-fg-color:                #6ac2cc;
  --md-accent-fg-color--transparent:   #c7dee0;
}

.image{ 
    border-radius:10px;
    box-shadow: 0px 2px 4px 1px rgba(170, 170, 170, 0.9);
}

