:root {
  --md-primary-fg-color:        #238799;
  --md-primary-fg-color--light: #21adc0;
  --md-primary-fg-color--dark:  #045963;
}

[data-md-color-scheme="fries-docs"] {
  --md-primary-fg-color:        #238799;
  --md-primary-fg-color--light: #21adc0;
  --md-primary-fg-color--dark:  #045963;
  --md-accent-fg-color:                #3aa4af;
  --md-accent-fg-color--transparent:   #c7dee0;
}

/* [data-md-color-scheme="slate"] {
  --md-hue: 210; 
} */

.image{ 
    border-radius:10px;
    box-shadow: 0px 2px 4px 1px rgba(170, 170, 170, 0.9);
}

